*{
    padding: 0%;
    margin: 0;
}

.container{
    margin-top: 5rem;
    height: 80vh;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 10%;
}

body{
    overflow: hidden;
    background: #334;
    background-image: url('./assets/bg-texture.png');

    font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 1024px) {
    .container{
        grid-template-columns: 1fr;
        gap: 10px;
    }

    
}
